<header>
    <!-- h1 should not be the same across all pages -->
    <h1>The Rick and Morty</h1>
</header>

<main>

    <nav>
        <!-- how to make 'Characters' active if I'm within an individual character page? -->
        <a href="JavaScript:Void(0);" routerLink="/characters" [queryParams]="{ fromPage : characterPage, nameSearch : characterNameSearch }" class="nav-link" routerLinkActive="nav-link_active">Characters</a>
        <a href="JavaScript:Void(0);" routerLink="/episodes" class="nav-link" routerLinkActive="nav-link_active">Episode Guide</a>
    </nav>

    <router-outlet></router-outlet>

</main>
