@import '../styles.scss';

header {
    min-height: 6.5625rem; // 105px
    color: $header-text;
    background: $header-bg url(../assets/rm-hero.svg) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    @media (min-width: 767px) {
        min-height: 15.625rem; // 250px
    }

    h1 {
        max-width: 100%;
        overflow-wrap: break-word;
        margin: 0;
        text-align: center;
    }
}

main {
    padding: 2em 1.3em;
    max-width: 62.75rem; // 1004px
    margin: 0 auto;

    @media (min-width: 767px) {
        padding: 3.5em;
    }
}

nav {
    margin-bottom: 2rem; // 32px

    @media (min-width: 767px) {
        display: flex;
        justify-content: center;
        margin-bottom: 4.875rem; // 78px
    }
}

.nav-link {
    font-size: 2rem; // 32px
    padding: 0.2em;
    margin: 0 1.3rem;
    display: block;
    text-align: center;
    color: $body-text-gray;
    transition: color .1s ease;

    &:hover,
    &_active {
        color: $body-text;
    }
}