<section role="search" class="char-search">
    <!-- label for="" and hidden? -->
    <input name="name-search" class="char-search_input" placeholder="Search By Name" type="search" autocomplete="off" [(ngModel)]="searchTerm" />
    <button type="submit" class="btn-primary char-search_submit" (click)="getCharacters(1)">Search</button>
</section>

<table *ngIf="characterCall">
    <tbody *ngIf="characterCall.results">
        <tr *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">
            <td>{{c.name}}</td>
            <td>{{c.species}}</td>
            <td>{{c.status}}</td>
            <td>{{c.gender}}</td>
        </tr>
    </tbody>
</table>


<ng-container *ngIf="pages">
    <span *ngFor="let p of pages" [ngClass]="{'active': (p === currentPage)}" (click)="getCharacters(p)">{{p}}</span>
</ng-container>
