<!-- h1 of this page should probably be "Rick and Morty Characters"-->

<section aria-label="Rick and Morty Characters">

    <section role="search" class="char-search" aria-label="Character search">
        <!-- should this be wrapped in a form? -->
        <!-- accessibility: label for="" and hidden? -->
        <input name="name-search" class="char-search_input" placeholder="Search By Name" type="search" autocomplete="off" [(ngModel)]="searchTerm" />
        <button type="submit" class="btn-primary char-search_submit" (click)="getCharacters(1)">Search</button>
    </section>

    <table *ngIf="characterCall" class=results-table aria-label="Character list">
        <!-- col definitions to set column widths in CSS -->
        <colgroup>
            <col class="col-1">
            <col class="col-2">
            <col class="col-3">
            <col class="col-4">
        </colgroup>
        <!-- table header for screen reader accessibility -->
        <thead class="sr-only">
            <tr>
                <th>Character Name</th>
                <th>Species</th>
                <th>Status</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody *ngIf="characterCall.results">
            <tr *ngFor="let c of characterCall.results">
                <td><a [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">{{c.name}}</a></td>
                <td><a [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }" tabindex="-1" class="col-hide-sm">{{c.species}}</a></td>
                <td><a [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }" tabindex="-1" class="col-hide-sm">{{c.status}}</a></td>
                <td><a [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }" tabindex="-1" class="col-hide-sm">{{c.gender}}</a></td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="pages">
        <nav class="pagination" aria-label="Character pages">
            <button *ngFor="let p of pages" [ngClass]="{'active': (p === currentPage)}" (click)="getCharacters(p)" class="pagination_page"><span class="sr-only">Page </span>{{p}}</button>
        </nav>
    </ng-container>

</section>
