/* You can add global styles to this file, and also import other style files */

// Resets
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

// Colors

:root {
    // Colors - Tier 1
    --white: hsl(0, 0%, 100%);
    --gray-25: hsl(208, 12%, 25%);
    --gray-20: hsl(206, 16%, 20%);
    --gray-18: hsl(218, 12%, 18%);
    --gray-15: hsl(206, 21%, 15%);
    --gray-3: hsl(204, 3%, 68%);
    --purple-primary: hsl(249, 80%, 67%);
    --purple-accent: hsl(249, 80%, 69%);


    // Colors - Tier 2
    --bg-white: var(--white);
    --bg-gray-25: var(--gray-25);
    --bg-gray-20: var(--gray-20);
    --bg-gray-15: var(--gray-15);
    --bg-purple: var(--purple-primary);
    --bg-purple-accent: var(--purple-accent);
    --border-white: var(--white);
    --border-gray-25: var(--gray-25);
    --text-white: var(--white);
    --text-gray-18: var(--gray-18);
    --text-gray-3: var(--gray-3);
    --text-purple: var(--purple-primary);
    

}

// Colors - Tier 3
$body-bg: var(--bg-gray-15);
$body-text: var(--text-white); 
$body-text-gray: var(--text-gray-3);
$body-text-purple: var(--text-purple);
$header-bg: var(--bg-white);
$header-text: var(--text-gray-18);
$btn-primary-bg: var(--bg-purple);
$btn-primary-bg-hover: var(--bg-purple-accent);
$table-border: var(--border-gray-25);
$table-bg: var(--bg-gray-20);
$table-bg-hover: var(--bg-gray-25);
$table-focus-border: var(--border-white);
$card-bg: var(--bg-gray-20);
$card-border: var(--border-gray-25);

// Fonts

@font-face {
    font-family: "Gotham Pro Regular";
    src: url('assets/Gotham\ Pro\ Regular.ttf');
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: url('assets/Gotham\ Pro\ Bold.ttf');
}


// Template

body {
    background: $body-bg;
    color: $body-text;
    min-height: 100vh;
    margin: 0;
    font-size: 16px; // 1rem
    font-family: "Gotham Pro Regular", sans-serif;
}

h1 {
    font-size: 1.953rem; // 31.25px
    font-family: "Gotham Pro Bold", sans-serif;

    @media (min-width: 767px) {
        font-size: 4rem; // 64px
    }
}

a {
    color: $body-text;
    text-decoration: none;

    // clarify anchor states with Design
    a:visited {
        color: inherit;
    }

    &:hover {

    }

    a:focus {

    }

    &:active {

    } 
}


button {
    cursor: pointer;
    border-radius: 6px;
    padding: .6em 2em;
    
    // clarify button states with Design
    &:hover {

    }

    &:active {

    }

    &:focus {

    }
}

.btn-primary {
    background: $btn-primary-bg; // clarify with Design: button doesn't pass contrast
    border: none;
    color: $body-text;
    font-size: 1.125rem; // 18px
    padding: .6em 3em;

    &:hover {
        background: $btn-primary-bg-hover;
    }
}

input {
    border-radius: 6px;
    padding: .6em;
    border: none;
}

.results-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
    table-layout: fixed;

    col:nth-of-type(1) {
        // column 1
        width: 40%;
    }

    col:nth-of-type(2),
    col:nth-of-type(3),
    col:nth-of-type(4) {
        // columns 2, 3, 4
        width: 20%;
    }

    @media (min-width: 767px) {
        
        col:nth-of-type(1) {
            // column 1
            width: 58%;
        }

        col:nth-of-type(2),
        col:nth-of-type(3),
        col:nth-of-type(4) {
            // columns 2, 3, 4
            width: 14%;
        }
    }

    tr {
        border: 1px solid $table-border;
        // tr doesn't support border-radius
        // I explored applying border-radius top-left/right, bottom-left/right to td:first/last but this still left border gaps between table cells
        // With more time, I would come back to this to explore futher
    }

    td {
        background: $table-bg;
        transition: all .1s ease;
    }

    tr:hover td,
    tr:focus-within td {
        background: $table-bg-hover;
    }
    
    a {
        display: flex;
        padding: .7em 1.1em;
        cursor: pointer;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:focus {
            outline: none;
        }
    }

    tr:hover a,
    tr:focus-within a {
        color: $body-text-purple;
    }

    &.padded {
        td {
            padding: .7em 1.1em;
        }
    }
}

.pagination {
    text-align: center;
    
    &_page {
        padding: .5em;
        font-size: 0.875rem; // 14px
        display: inline-block;
        background: none;
        border: none;
        color: inherit;
        // consult with Design: the size of the pagination targets is smaller than the recommended 44 x 44 px

        &:hover,
        &:focus {
            color: $body-text-purple;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}